.portfolio {
    text-align: center;
    margin-bottom: 214px;
}

.portfolio__title {
    position: relative;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    align-items: center;
    color: #333333;
    text-align: center;
    margin-bottom: 60px;
}

.portfolio__title::before {
    content: "";
    width: 302px;
    height: 15px;
    left: 335px;
    top: 40px;
    position: absolute;
    background-color: #2352de1a;
}

.portfolio__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    max-width: 1170px;
    width: 100%;
    justify-content: center;
}

.portfolio__item {
    max-width: 360px;
    width: 100%;
    height: 360px;
}

.portfolio__image {
    width: 360px;
    height: 100%;
}

.portfolio__link {
    position: relative;
}

.portfolio__link::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    transition: background-color 0.3s linear;
}

.portfolio__image::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    transition: background-color 0.3s linear;
}

.portfolio__image::after {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.portfolio__link:hover .portfolio__image::before {
    background-color: rgba(110, 156, 159, 0.64);
}

.portfolio__link:hover .portfolio__image::after {
    background-image: url('/images/img1.png');
}

@media (max-width:1240px) {}

@media (max-width:920px) {
    .portfolio__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width:560px) {
    .portfolio__image {
        margin-left: 0;
    }
}