.skills {
    display: flex;
    flex-direction: row;
    margin-bottom: 140px;
}

.skills__list {
    list-style: none;
}

.skills__image {
    max-width: 415px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    margin-bottom: 50px;
    margin-right: 90px;
}

.skills-summary {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
}

.skills-title {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin: 0;
    width: 152px;
}

.progress-bar {
    display: flex;
    justify-content: flex-end;
    height: 24px;
}

.loaded {
    background: #2352de;
}

.unloaded {
    background: #dbdbed;
    width: 33%;
}

.loaded-content {
    background: #2352de;
}

.unloaded-content {
    background: #dbdbed;
    max-width: 600px;
    width: 100%;
}

.loaded-disign {
    background: #2352de;
    width: 65%;
}

.unloaded-disign {
    max-width: 600px;
    background: #dbdbed;
    width: 100%;
}
@media (max-width:1240px){
    .skills__image {
        margin-right: 15px;
        max-width: 340px;
    }

    .progress-bar{
        max-width: 530px;
    }
}
@media (max-width:920px){
    .progress-bar{
        max-width: 380px;
    }
}
@media (max-width:560px){
    .skills__portfolio{
        flex-wrap: wrap;
    }
}