.stats {
    margin-bottom: 214px;
}

.stats__list {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 15px;
    text-align: center;
}

.stats__item {
    position: relative;
    border: 0.1px solid #DBDBED;
    background-color: #F6F6F8;
    padding: 150px 10px 50px;
    max-width: 280px;
    width: 100%;
}

.stats__item::before {
    content: '';
    position: absolute;
    width: 98px;
    height: 80px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    background-repeat: no-repeat;
}

.worked::before {
    background-image: url(../icons/works.svg);
}

.clients::before {
    background-image: url(../icons/clients.svg);
}

.coffee::before {
    background-image: url(../icons/coffee.svg);
}

.feedbacks::before {
    background-image: url(../icons/review.svg);
}

.stats__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 20px;
}

.stats__number {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 100%;
    color: #333333;
}

@media (max-width:560px) {
    .stats__list {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .worked::before {
        left: 170px;
    }

    .clients::before {
        left: 174px;
    }

    .coffee::before {
        left: 185px;
    }

    .feedbacks::before {
        left: 172px;
    }
}

@media (max-width:560px) {
    .contacts__inner {
        flex-wrap: wrap;
    }

    .contacts__email {
        margin-bottom: 30px;
    }

    .contacts__number {
        margin-bottom: 20px;
    }
}